body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 200vh; /* Para simular una página larga */
}

#destino {
    margin-top: 100vh;
    padding: 20px;
    background-color: lightblue;
}